.fundoNav{
    background-color: #004AAD;
}
.home{
    width: 100px;
    text-align: center;
    height: 40px;
    
}
.home:hover{
    background-color: #02285a;
    width: 300px;
    border-radius: 5px;
}
.livro{
    width: 100px;
    text-align: center;
    height: 40px;
}
.livro:hover{   
    background-color: #02285a;
    width: 300px;
    border-radius: 5px;
}
.filme{
    width: 300px;
    text-align: center;
    height: 40px;
}
.filme:hover{
    background-color: #02285a;
    width: 100px;
    border-radius: 5px;
}