.fundoNav{
    background-color: #B71B1B;
}
.colorCarousel{
    color: #B71B1B;
}
.login{
    width: 400px;
    height: 500px;
}
.linnk{
    align-items: center;
    justify-content: center;
    display: flex;
}